* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.contenedor {
    background: white;
    width: 450px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    align-items: center;
}
h1{
    padding: 10px;
    margin: 15px;
}

input {
    padding: 6px;
    margin-top: 10px;
    width: 330px;
    background-color: white;
}

button {
    padding: 6px;
    margin-top: 10px;
    background-color: blue;
    color: white;
}

#resultado {
    margin-top: 15px;
      width: 280px;         
    white-space: nowrap; 

}